.Scorecard {
  margin: auto;
  padding: 2vh;
  background-color: lightgray;
  border-radius: 2%;
}

.ScorecardRows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ScorecardPenaltyBoxes {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.penalty-label {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: 5vh;
  width: fit-content;
  font-size: 2.5vh;
}
